doctype html
html
  head
    title Cafe POS System - Login
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    header
      h1 The Cafe
    main
      section
        h2 Login
        form(action="#" method="post")
          label(for="username") Username:
          input(type="text" id="username" name="username" required)
          br
          br
          label(for="password") Password:
          input(type="password" id="password" name="password" required)
          br
          br
          input(type="submit" value="Login")
    footer
      p &copy; 2023 Cafe POS System. All rights reserved.
