
*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



ul {
  list-style-type: none;
  padding: 1.2%;
  margin:0;
  overflow: hidden;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}


li a {
  font-size: 18px;
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 26px 26px;
  text-decoration: none;
  transition: 0.3s;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #3498DB ;
}

.dropdown {
  overflow: hidden;
}


.dropdown .dropbtn {
  font-weight: bold;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  display: block;
  padding: 26px 26px;
  background-color: inherit;
  font-family: sans-serif; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  transition: 0.3s;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #3498DB;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  font-family: sans-serif;
  font-weight: bold;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}



  /* The modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto; /* Center horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Set max width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    display: flex; /* Set container to flex */
    align-items: center; /* Center vertically */
  }
  /* Form styles */
  #myForm {
    display: flex; /* Set container to flex */
    flex-direction: column; /* Stack child elements vertically */
    justify-content: center; /* Center child elements horizontally */
    align-items: center; /* Center child elements vertically */
    width: 100%; /* Set width to 100% */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    padding: 20px; /* Add padding */
    border: none; /* Remove border */
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }